attr
configparser
cryptography
docutils
filelock
fpdf
htmlparser
ipython
ipywidgets
cython       # Needed for jnius to build
jnius
keyring
mediapipe
opencv-contrib-python
opencv-python
pyopenssl
pypdf
pypdf2
python-dotenv
redis
reportlab
sounddevice
sphinx
streamlit
thread
urllib3-secure-extra
vosk
xmlrpclib
