attr
configparser
cryptography
docutils
filelock
fpdf
ipython
ipywidgets
keyring
mediapipe
opencv-contrib-python
opencv-python
pyopenssl
pypdf
pypdf2
python-dotenv
redis
reportlab
sounddevice
sphinx
streamlit
urllib3-secure-extra
vosk
