attr
configparser
cryptography
docutils
filelock
fpdf
ipython
ipywidgets
keyring
mediapipe
opencv-python-headless
opencv-contrib-python-headless
pyopenssl
pypdf
pypdf2
python-dotenv
redis
reportlab
sounddevice
sphinx
streamlit
urllib3-secure-extra
vosk
google-generativeai
pillow
